{% extends 'base.html' %}
{% block title %}Inmobiliaria - Agregar Propiedad{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="text-center mt-2 mb-5">Agregar Nueva Propiedad</h2>
                    <form method="post" class="mx-auto" style="max-width: 400px;">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                <strong>Por favor corrige los siguientes errores:</strong>
                                <ul>
                                    {% for field in form %}
                                    {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% for field in form %}
                        <div class="mb-3 row">
                            <label for="{{ field.id_for_label }}" class="col-sm-5 col-form-label">{{ field.label }}</label>
                            <div class="col-sm-7">
                                {% if field.name == "region" %}
                                    <select id="region" name="region" class="form-control">
                                        <option value="">Seleccione una región</option>
                                        {% for region in regions %}
                                        <option value="{{ region.id }}">{{ region.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% elif field.name == "comuna" %}
                                    <option value="">Seleccione una comuna</option>
                                    <select id="comuna" name="comuna" class="form-control">
                                        {% for comuna in comunas %}
                                        <option value="{{ comuna.id }}" {% if selected_commune == comuna.id %}selected{% endif %}>{{ comuna.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                {% if field.errors %}
                                <div class="text-danger">
                                    {{ field.errors }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-success w-100 my-5">Agregar Propiedad</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
