{% extends "./base.html" %}
{% block title %}Inmobiliaria{% endblock %}
{% block content %}
    <div class="container text-center">
        <h1 class="mt-5 mb-4 text-center">Bienvenid@ {{ user.first_name }}</h1>
        <button class="btn btn-success" data-bs-toggle="offcanvas" data-bs-target="#editAccountOffcanvas"
            aria-controls="editAccountOffcanvas">
            Editar Cuenta
        </button>
        {% if user.is_landlord %}
        <a href="/add_property">
            <button class="btn btn-success">
                Añadir Propiedad
            </button>
        </a> 
        {% endif %}
    </div>
    {% include './updateacc.html' %}
    {% if user.is_landlord %}
        <h3 class="container text-center my-3">Tus propiedades</h3>
    {% elif user.is_tenant %}
        <h3 class="container text-center my-3">Tus arriendos</h3>
    {% endif %}
    {% include "./album.html" %}
{% endblock %}