<div class="offcanvas offcanvas-end text-white bg-dark" tabindex="-1" id="editAccountOffcanvas"
    aria-labelledby="editAccountOffcanvasLabel">
    <div class="offcanvas-header">
        <h5 id="editAccountOffcanvasLabel">Editar Datos de la Cuenta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form method="post" action="{% url 'update_account' %}">
            {% csrf_token %}
            {{ user_form.non_field_errors }}

            <div class="mb-3">
                <label for="id_username" class="form-label">Nombre de Usuario</label>
                <input type="text" class="form-control" id="id_username" name="username" value="{{ user_form.username.value|default:user.username }}">
            </div>

            <div class="mb-3">
                <label for="id_email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="id_email" name="email" value="{{ user_form.email.value|default:user.email }}">
            </div>

            <div class="mb-3">
                <label for="id_first_name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="id_first_name" name="first_name" value="{{ user_form.first_name.value|default:user.first_name }}">
            </div>

            <div class="mb-3">
                <label for="id_last_name" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="id_last_name" name="last_name" value="{{ user_form.last_name.value|default:user.last_name }}">
            </div>

            <div class="mb-3">
                <label for="id_rut" class="form-label">RUT</label>
                <input type="text" class="form-control" id="id_rut" name="rut" value="{{ user_form.rut.value|default:user.rut }}">
            </div>

            <div class="mb-3">
                <label for="id_address" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="id_address" name="address" value="{{ user_form.address.value|default:user.address }}">
            </div>

            <div class="mb-3">
                <label for="id_phone" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="id_phone" name="phone" value="{{ user_form.phone.value|default:user.phone }}">
            </div>

            {{ password_form.non_field_errors }}
            <div class="mb-3">
                <p class="text-center my-4">Para cambiar tu contraseña, debes ingresar la contraseña actual.</p>
            </div>

            <div class="mb-3">
                <label for="id_old_password" class="form-label">Contraseña Actual (opcional)</label>
                <input type="password" class="form-control" id="id_old_password" name="old_password">
            </div>

            <div class="mb-3">
                <label for="id_new_password1" class="form-label">Nueva Contraseña (opcional)</label>
                <input type="password" class="form-control" id="id_new_password1" name="new_password1">
            </div>

            <div class="mb-3">
                <label for="id_new_password2" class="form-label">Confirmar Nueva Contraseña</label>
                <input type="password" class="form-control" id="id_new_password2" name="new_password2">
            </div>

            <button type="submit" class="btn btn-success">Guardar Cambios</button>
        </form>
    </div>
</div>
